


#input , #pw , #gm{
    
 border:0;
 padding:15px;
 border-radius: 10px;
 width:255px;
 background-color: white;
 font-style: italic;

}


.div1{
  position:absolute;
  top:0px;
  bottom:0px;
  left:0px;
  right:0px;
  margin:auto;
  padding:50px;
  background-color: aqua;
  height:400px;
  width:400px;
  box-shadow:1px 2px 2px rgb(0, 255, 76);
  border-radius: 10px;

}

p{
  text-align: center;
  color:darkblue;
  font-style:initial;
  font-size:large;
}

button{

  margin-left: 30%;
  margin-right: 30%;
  padding-left:40px;
  padding-right:40px;
  padding-top:10px;
  padding-bottom: 10px;
  background-color: chartreuse;
  border:0px;
  border-radius:5px;
 

}

